{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1>Welcome to Vulnerable Python Server.</h1>

<div class="container-fluid p-3 my-3 border">
This server will help developers and hackers learn and understand how some of the most common<br>
vulnerabilities can be exploited using bad backend Python developing techniques.<br><br>

Follow the menu to try some of those techniques with code examples on it.<br><br>

Example exploits can be found at exploit/ directory inside the git repository<br><br>
Enjoy this site<br><br>
Regards, xNaaro<br>
</div>
{% endblock %}
