{% extends "base_content.html" %}
{% block title %}YAML{% endblock %}
{% block content_title %}Python YAML loads vulnerability{% endblock %}
{% block content_description %}
This site has a vulnerable backend application to YAML deseralization attacks.<br><br>

Retrive the contents from /root/flag file.<br><br>
{% endblock %}
{% block content_code%}
yaml.load(data, Loader=yaml.UnsafeLoader)
</pre>
In older versions of pyyaml default loader is the UnsafeLoader, which allows arbitrary code execution by default.
<pre>
yaml.load(data)
{% endblock %}

{% set form_title = 'YAML code injection / Remote code execution' %}
{% set form_input_text = 'Insert YAML code' %}
